
  <div class="col-md-12 realtimedata">
      <!-- <div id="container"  style="min-height: 400px; margin: 0 auto"></div> -->
     <!--  <ul class="nav nav-tabs" id="aqi-area-tab">
			<li ng-repeat="sensor in sensorData" ng-class="{'active':$index==tabIndexArea}"><a data-toggle="tab" href="#" data-target="#sensor_data_{{$index}}" ng-click="selectTab($index,'area')">{{sensor}}</a></li>
		</ul>
		<div id="sensor-data-content" class="tab-content details-tab-base-content-inner highcharts-button">
			<div ng-repeat="sensor in sensorData" id="#sensor_data_{{$index}}" ng-class="{'active':$index==tabIndexArea}" class="tab-pane fade in">
				<div id="real_sensor_data_{{$index}}" class="aqi_details_graph_class aqi_details_graph_class_machine"></div>
			</div>
		</div>--> 
		 <div id="Container_Temperature"  style="min-height: 100px; margin: 0 auto"></div>
		  <div id="Container_PB" style="min-height: 100px; margin: 0 auto"></div>
		   <div id="Container_O3" style="min-height: 100px; margin: 0 auto"></div>
		    <div id="Container_CO2" style="min-height: 100px; margin: 0 auto"></div>
		     <div id="Container_PM2_5" style="min-height: 100px; margin: 0 auto"></div>
		      <div id="Container_NH3" style="min-height: 100px; margin: 0 auto"></div>
		       <div id="Container_PM10" style="min-height: 100px; margin: 0 auto"></div>
		       <div id="Container_SO2" style="min-height: 100px; margin: 0 auto"></div>
  </div>

