
  <div class="col-md-12 realtimedata">
  <img ng-show="isLoading" src='/images/25.gif' class="lad_img_cmp">
    	 <div id="Container_PM2_5" style="width:100%; height:400px;"></div>
		 <div id="Container_Temperature"  style="width:100%; height:400px;"></div>
		  <div id="Container_PB" style="width:100%; height:400px;"></div>
		   <div id="Container_O3" style="width:100%; height:400px;"></div>
		    <div id="Container_CO2" style="width:100%; height:400px;"></div>
		      <div id="Container_NH3"  style="width:100%; height:400px;"></div>
		       <div id="Container_PM10" style="width:100%; height:400px;"></div>
		       <div id="Container_SO2" style="width:100%; height:400px;"></div>
  </div>

