<div class="col-md-12 floor_list_base">
   <div class="col-md-6">
      <h4>Water Consumption</h4>
   </div>
   <div class="col-md-6">
      <ul>
         <li ng-repeat="f in floors" ng-class="{'active':$index===floor,'disabled':(waterLoading || waterLoading)}" ng-click="changeFloor(f.id)">{{f.name}}</li>
      </ul>
   </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 container-padd">
   <div class="col-md-12">
      <div class="row">
         <div class="col-md-6 tab-base-padd">
            <div class="col-md-12  tab-base">
               <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="" data-target="#industrial" ng-click="waterTabChange('industrial')">Industrial Use</a></li>
                  <li><a data-toggle="tab" href="" data-target="#domestic" ng-click="waterTabChange('domestic')">Domestic Use</a></li>
               </ul>
               <div class="tab-base-inner-water">
                  <div id="aqi-area" class="tab-pane fade in active details-tab-base-content">
                     <img alt="" class="loading_image" ng-show="waterLoading" src="images/25.gif">
                     <div id="water-area-tab-content" class="tab-content details-tab-base-content-inner-water highcharts-button">
                        <div ng-repeat="area in waterAssetTabList" id="aqi_area_{{$index}}" ng-class="{'active':$index==tabIndexArea}" class="tab-pane fade in">
                           <div  id="area_chart_{{$index}}" class="graph_class"></div>
                           <div class="col-md-12">
                              <div class="col-md-6">
                                 <h4 class="pull-left">Current Use:</h4>
                                 <h2 class="pull-left curr-limit">7</h2>
                                 <h4>KLD</h4>
                              </div>
                              <div class="col-md-6">
                                 <h4 class = "pull-right">KLD</h4>
                                 <h2 class = "pull-right curr-limit">8</h2>
                                 <h4 class = "pull-right">Daily Limit:</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6 tab-base-padd">
            <div class="col-md-12 tab-base">
               <img alt="" class="loading_image" ng-show="waterLoading" src="images/25.gif">
               <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="" data-target="#p-s-e">Domestic Effluent Treatment</a></li>
               </ul>
               <div class="tab-base-inner-water">
                  <div id="aqi-machine" class="tab-pane fade in active tab-base-content">
                     <div id="domestic-effluent-tab-content" class="tab-content details-tab-base-content-inner highcharts-button">
                        <div ng-repeat="machine in waterMachineData" id="aqi_machine_{{$index}}" ng-class="{'active':$index==tabIndexMachine}" class="tab-pane fade in">
                           <div class="row">
                              <div class="col-md-12" ng-init="gotoDetailsView()">
                                 <div class="col-md-6 machine_values" >
                                    <div class="col-md-12 machine_data" ng-class="{'machine_down_green': pH <= maxValuepH, 'machine_up_orange':pH > maxValuepH}">
                                       <!--  <div class="col-md-12 machine_data machine_down_green"> -->
                                       <h4 class="h">pH Value</h4>
                                       <h3 class="d">{{pH}}</h3>
                                       <h4 class="s"></h4>
                                       <div ng-class="{ 'mahine_up_arrow': pH <= maxValuepH, 'mahine_down_arrow': pH > maxValuepH}">
                                          <i class="fa" ng-class="{'fa-arrow-down': pH <= maxValuepH, 'fa-arrow-up': pH > maxValuepH}"></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6 machine_values">
                                    <div class="col-md-12 machine_data " ng-class="{'machine_down_green': suspendedSolids <= maxValuesuspendedSolids, 'machine_up_orange':suspendedSolids > maxValuesuspendedSolids}">
                                       <!-- <div class="col-md-12 machine_data machine_down_green"> -->
                                       <h4 class="h">Suspended Solids</h4>
                                       <h3 class="d">{{suspendedSolids}}</h3>
                                       <h4 class="s">mg/L</h4>
                                       <div ng-class="{ 'mahine_up_arrow': suspendedSolids <= maxValuesuspendedSolids, 'mahine_down_arrow': suspendedSolids > maxValuesuspendedSolids}">
                                          <i class="fa" ng-class="{'fa-arrow-down': suspendedSolids <= maxValuesuspendedSolids, 'fa-arrow-up': suspendedSolids > maxValuesuspendedSolids}"></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6 machine_values">
                                    <div class="col-md-12 machine_data " ng-class="{'machine_down_green': bod <= maxValuebod, 'machine_up_orange':bod > maxValuebod}">
                                       <!--      <div class="col-md-12 machine_data machine_down_green"> -->
                                       <h4 class="h">BOD</h4>
                                       <h3 class="d">{{bod}}</h3>
                                       <h4 class="s">mg/L</h4>
                                       <div ng-class="{'mahine_up_arrow': bod <= maxValuebod, 'mahine_down_arrow': bod > maxValuebod}">
                                          <i class="fa" ng-class="{'fa-arrow-down': bod <= maxValuebod, 'fa-arrow-up': bod > maxValuebod}"></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6 machine_values">
                                    <div class="col-md-12 machine_data " ng-class="{'machine_down_green': cod <= maxValuecod, 'machine_up_orange':cod > maxValuecod}">
                                       <!-- <div class="col-md-12 machine_data machine_down_green"> -->
                                       <h4 class="h">COD</h4>
                                       <h3 class="d">{{cod}}</h3>
                                       <h4 class="s">mg/L</h4>
                                       <div ng-class="{'mahine_up_arrow': cod <= maxValuecod, 'mahine_down_arrow': cod > maxValuecod}">
                                          <i class="fa" ng-class="{'fa-arrow-down': cod <= maxValuecod, 'fa-arrow-up': cod > maxValuecod}"></i>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6 machine_values">
                                    <div class="col-md-12 machine_data " ng-class="{'machine_down_green': oilGrease <= maxValueoilGrease, 'machine_up_orange':oilGrease > maxValueoilGrease}">
                                       <!-- <div class="col-md-12 machine_data machine_down_green"> -->
                                       <h4 class="h">Oil & Grease</h4>
                                       <h3 class="d">{{oilGrease}}</h3>
                                       <h4 class="s">mg/L</h4>
                                       <div ng-class="{'mahine_up_arrow': oilGrease <= maxValueoilGrease, 'mahine_down_arrow': oilGrease > maxValueoilGrease}">
                                          <i class="fa" ng-class="{'fa-arrow-down': oilGrease <= maxValueoilGrease, 'fa-arrow-up': oilGrease > maxValueoilGrease}"></i>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row mid-divide">
         <div class="col-md-12 tab-base-padd details-tab-base-inner">
            <img alt="" class="loading_image" ng-show="waterLoading" src="images/25.gif">
            <div id = "industrial" class="col-md-12 title_bar" ng-show="!waterLoading">
               <div class= "col-md-6 title_inside">
                  <h4>Pollutants</h4>
               </div>
               <div class= "col-md-6 pull-right charti_ar">
                  <a class= " charticon active_chart " href= "#"><i class="fa fa-bar-chart bar-area-icon" aria-hidden="true" name="mychart"  id= "column" value="column" ng-click= "chartfunc2(tabIndex)"></i></a>
                  <a  class= " charticon1  "  href= "#"> <i class="fa fa-area-chart bar-area-icon" aria-hidden="true" name="mychart"  id= "bar" value="bar" ng-click= "chartfunc1(tabIndex)"></i></a>
               </div>
               <div class="tab-pane fade in active details-tab-base-content">
                  <img alt="" class="loading_image" ng-show="!waterLoading" src="images/25.gif">
                  <ul class="nav nav-tabs" id="waterData">
                     <li ng-repeat="waterTab in waterTabList" ng-class="{'active':$index==tabIndex}"><a data-toggle="tab" href="#" data-target="#water_{{$index}}" ng-click="selectTab1($index)">{{waterTab}}</a></li>
                  </ul>
                  <div id="container" ng-show="!waterLoading" class="tab-content details-tab-base-content-inner water-graph" ng-model="showMe">
                     <div ng-repeat="water in waterTabList" id="water_{{$index}}" ng-class="{'active':$index==tabIndex}" class="tab-pane fade in">
                        <div id="container_{{$index}}" class="water_details_graph_class water_details_graph_class_machine data-graph"></div>
                     </div>
                  </div>
               </div>
            </div>
             <div id = "domestic" class="col-md-12 title_bar" ng-show="!waterLoading">
               <div class= "col-md-6 title_inside">
                  <h4>Pollutants</h4>
               </div>
               <div class= "col-md-6 pull-right charti_ar">
                  <a class= " charticon active_chart " href= "#"><i class="fa fa-bar-chart bar-area-icon" aria-hidden="true" name="mychart"  id= "column" value="column" ng-click= "chartfunc2()"></i></a>
                  <a  class= " charticon1  "  href= "#"> <i class="fa fa-area-chart bar-area-icon" aria-hidden="true" name="mychart"  id= "bar" value="bar" ng-click= "chartfunc1()"></i></a>
               </div>
               <div class="tab-pane fade in active details-tab-base-content">
                  <img alt="" class="loading_image" ng-show="!waterLoading" src="images/25.gif">
                  <ul class="nav nav-tabs" id="waterData">
                     <li ng-repeat="waterTab in waterTabList" ng-class="{'active':$index==tabIndex}"><a data-toggle="tab" href="#" data-target="#water_{{$index}}"ng-click="selectTab1($index))">{{waterTab}}</a></li>
                  </ul>
                  <div id="container" ng-show="!waterLoading" class="tab-content details-tab-base-content-inner water-graph" ng-model="showMe">
                     <div ng-repeat="water in waterTabList" id="water_{{$index}}" ng-class="{'active':$index==tabIndex}" class="tab-pane fade in">
                        <div id="container_{{$index}}" class="water_details_graph_class water_details_graph_class_machine data-graph"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>